body {
    font-family: Arial, sans-serif;
    background-color: #e0c8a0; /* Achtergrondkleur */
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
